<div x-data="{open: false}" style="position:relative; max-width:fit-content;" @click.away="open = false">
    <div class="fluctit-klarna-container">
        <img src="{{ "klarna.svg" | asset_url }}" alt="klarna logo" height="22px" width="50px" />
        <span>Koop nu betaal later</span>
        <img src="{{ "question-mark.svg" | asset_url }}" alt="klarna logo" height="16px" width="16px" @click="open = !open "/>
    </div>
    <div x-cloak x-show="open" class="fluctit-klarna-modal">
        <div>

          <strong>{{ 'fluctit.klarna_info.title1' | t }}</strong>
            <p>{{ 'fluctit.klarna_info.text1' | t }}</p>

            <strong>{{ 'fluctit.klarna_info.title2' | t }}</strong>
            <p>{{ 'fluctit.klarna_info.text2' | t }}</p>

            <strong>{{ 'fluctit.klarna_info.title3' | t }}</strong>
            <p>{{ 'fluctit.klarna_info.text3' | t }}</p>

            <strong>{{ 'fluctit.klarna_info.title4' | t }}</strong>
            <p>{{ 'fluctit.klarna_info.text4' | t }}</p>
        </div>
    </div>
</div>

<style>
    .fluctit-klarna-container {
        display:flex;
        gap:12px;
        align-items:center;
    }

    .fluctit-klarna-container span {
        line-height:16px;
        color:#000;
    }

    .fluctit-klarna-modal {
        background: #F5F3F3;
        padding:8px 8px 8px 8px;
        max-width:250px;
        overflow:scroll;
        max-height:350px;
        overflow-x:hidden;
        position: absolute;
        top:40px;
        right:0px;
        z-index:99;
    }
</style>

