<div x-data="ajCart">


<div x-show="cartPrice > 0" class="fluct-it__gift-list">
            <div
    class="fluct-it__gift-box active"
    :style="{
        '--border-width': cartPrice >= {{ settings.free_ship_threshold }} ? '100%' : '50%',
        '--border-right': cartPrice >= {{ settings.free_ship_threshold }} ? '#4AB9CB' : 'transparent'
    }"
    >
            <picture>
                {% render 'shipping-threshold-1' %}
            </picture>
            <div class="fluct-it__gift-info">
                <span class="fluct-it__gift-text">Gratis verzending</span>
                <span class="fluct-it__gift-price">€{{ settings.free_ship_threshold }}</span>
            </div>
        </div>
        <div class="fluct-it__gift-box"
    :style="{
        '--border-width': cartPrice >= {{ settings.free_sample_threshold }} ? '100%' : '50%',
        '--border-right': cartPrice >= {{ settings.free_sample_threshold }} ? '#4AB9CB' : 'transparent'
    }" :class="{'active': cartPrice >= {{ settings.free_ship_threshold }} }">
            <picture>
                {% render 'shipping-threshold-2' %}
            </picture>
            <div class="fluct-it__gift-info">
                <span class="fluct-it__gift-text">Gratis sample</span>
                <span class="fluct-it__gift-price">€{{ settings.free_sample_threshold }}</span>
            </div>
        </div>
        <div class="fluct-it__gift-box"
    :style="{
        '--border-width': cartPrice >= {{ settings.free_sample_product_threshold }} ? '100%' : '50%',
        '--border-right': cartPrice >= {{ settings.free_sample_product_threshold }} ? '#4AB9CB' : 'transparent'
    }" :class="{'active': cartPrice >= {{ settings.free_sample_threshold }} }">
            <picture>
                {%- if settings.shipping_threshold_3_image != blank -%}
                    <img src="{{ settings.shipping_threshold_3_image | image_url: width: 32 }}" alt="Shipping threshold 3" width="32" height="32" style="max-width:60px;max-height:60px;" loading="lazy">
                {%- else -%}
                    {% render 'shipping-threshold-2' %}
                {%- endif -%}
            </picture>
            <div class="fluct-it__gift-info">
                <span class="fluct-it__gift-text">Gratis Balancing Toner</span>
                <span class="fluct-it__gift-price">€{{ settings.free_sample_product_threshold }}</span>
            </div>
        </div>
    </div>

</div>
    <style>
    .fluct-it__gift-list {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        gap: 12px;
        margin-bottom:12px;
    }

    .fluct-it__gift-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 8px;
        width: 100%;
        background: #fff;
        position:relative;
        box-sizing: border-box;
        --border-width: 0%;
        --border-right: transparent;
    }

.fluct-it__gift-box.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: calc(var(--border-width) + 1px);
    height: calc(100% + 4px);
    border: 3px solid #4AB9CB;
    border-right-color: var(--border-right);
    border-radius: 8px;
    pointer-events: none;
    box-sizing: border-box;
}



    .fluct-it__gift-box picture {
        margin-bottom: 12px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fluct-it__gift-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        margin-top: auto;
    }

    .fluct-it__gift-text {
        font-weight: 500;
        font-size: 12px;
        text-align:center;
    }

    .fluct-it__gift-price {
        font-weight: 600;
        font-size: 14px;
    }
    </style>
